@font-face {
  font-family: "fixedsys";
  src: url("./resources/FSEX302.ttf");
}
@font-face {
  font-family: "VT323";
  src: url("./resources/VT323.ttf");
}

body{
  background-color: #08170B;
  /*background-image: url("ScriptPostum robot dance anim marg.gif");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;*/
  font-family: VT323;
  font-size: 3ch;
  color: #49BB3E;
  size: 100vw 100vh;
}
h1 {
  margin: 0;
}
.borders {
  border: 5px solid #49BB3E;
  padding: 10px;
}
#admin_panel {
  padding-right: 20px;
}
a:visited{
	color:#00ff00;
}
a:link{
	color:#00ff00;
}